Repository deadmade/IsoPruefi, pull requests merged in 2025-08, with the labels that each got.

#61 Fixed Docs Action
  .github/workflows/docs.yml
Labels: github_actions

#56 Feat/add authentication to rest api
  AGENTS.md
  isopruefi-backend/.env.example
  isopruefi-backend/Database/EntityFramework/ApplicationDbContext.cs
  isopruefi-backend/Database/EntityFramework/Models/CoordinateMapping.cs
  isopruefi-backend/Database/Repository/SettingsRepo/ISettingsRepo.cs
  isopruefi-backend/Get-weatherData-worker/Worker.cs
  isopruefi-backend/Get-weatherData-worker/appsettings.Development.json
  isopruefi-backend/MQTT-Receiver-Worker/appsettings.Development.json
  isopruefi-backend/Rest-API/API-Definition.json
  isopruefi-backend/Rest-API/Controllers/AuthenticationController.cs
  isopruefi-backend/Rest-API/Controllers/GetTemperatureData.cs
  isopruefi-backend/Rest-API/Controllers/TopicController.cs
  isopruefi-backend/Rest-API/Controllers/UserInfoController.cs
  isopruefi-backend/Rest-API/Helper/StringTools.cs
  isopruefi-backend/Rest-API/Models/JwtToken.cs
  isopruefi-backend/Rest-API/Program.cs
  isopruefi-backend/Rest-API/Seeder/SeedUser.cs
  isopruefi-backend/Rest-API/Services/Auth/AuthenticationService.cs
  isopruefi-backend/Rest-API/Services/Token/TokenService.cs
  isopruefi-backend/Rest-API/TransformPostalCode.cs
  isopruefi-backend/Rest-API/appsettings.Development.json
  isopruefi-backend/UnitTests/Services/AuthenticationServiceTests.cs
  isopruefi-backend/UnitTests/Services/TokenServiceTests.cs
  isopruefi-backend/UnitTests/UnitTests.csproj
  isopruefi-docker-live/.gitignore
  isopruefi-frontend/src/api/api-client.ts
Labels: enhancement, .NET

#65 fix: fixed frontend docker
  isopruefi-frontend/Dockerfile-Dev
Labels: Docker

#68 Refactor/create filename recovery json
  isopruefi-arduino/src/core.cpp
  isopruefi-arduino/src/main.cpp
  isopruefi-arduino/src/mqtt.cpp
  isopruefi-arduino/src/storage.cpp
Labels: enhancement, arduino

#70 feat: adjust Docker environment configuration and service settings
  isopruefi-backend/Get-weatherData-worker/Program.cs
  isopruefi-backend/Rest-API/Program.cs
  isopruefi-docker-live/docker-compose.yml
Labels: enhancement, .NET, Docker

#72 feat: add database migration application in Program.cs
  isopruefi-backend/Get-weatherData-worker/Program.cs
  isopruefi-backend/MQTT-Receiver-Worker/Program.cs
Labels: enhancement, .NET

#74 fix: add CoordinateMappingLocked migration with new Location and Lock…
  isopruefi-backend/Database/Migrations/20250808081329_LookedUntilField.cs
  isopruefi-backend/Database/Migrations/20250808104132_AddMissingTable.Designer.cs
  isopruefi-backend/Database/Migrations/20250808104132_AddMissingTable.cs
  isopruefi-backend/Database/Migrations/20250808114230_CoordinateMappingLocked.Designer.cs
  isopruefi-backend/Database/Migrations/20250808114230_CoordinateMappingLocked.cs
  isopruefi-docker-live/docker-compose.yml
Labels: bug, .NET, Docker

#97 chore: adjusted dev compose to match live compose
  docker-compose.yml
Labels: enhancement, Docker
